<div id="news" class="page" data-stellar-background-ratio="0.4">
  <div class="container">
    <div class="logo logo_black">
      VespaSpiets
    </div>
    <h1>
      Jaunumi
    </h1>
    <!--
    <a id="sign_up" href="http://ej.uz/vespaspiets-anketa" target="_blank">
      <img src="images/sign_up.png" alt="Es būšu!" />
    </a>
    -->
    <div id="news_articles_container">
    <div id="news_articles">
      <% @feed.entries.first(3).each do |entry| %>
        <div class="article">
          <div class="date">
            <span class="day"><%= entry.published.day %></span>
            <span class="month"><%= entry.published.strftime("%b") %></span>
          </div>
          <% if /src="(?<img_url>[^"]+)"/ =~ entry.content %>
            <a href="<%= entry.url %>" target="_blank">
              <img src="<%= img_url %>" style="float: right; width: 160px" />
            </a>
          <% end %>
          <h3>
            <a href="<%= entry.url %>" target="_blank">
              <%= entry.title %>
            </a>
          </h3>
          <p>
            <%= Sanitize.clean(entry.summary.to_s.gsub("&#160;", " ").gsub("\u00A0", " ").strip) %>
          </p>
          <p>
            <a href="<%= entry.url %>" target="_blank" class="more">
              Lasīt tālāk ...
            </a>
          </p>
        </div>
      <% end %>
      <a href="http://vespaspiets.wordpress.com/" class="more_more">
        ...
      </a>
    </div>
    </div>
    <div id="tweets" data-stellar-ratio="0">
      <a class="twitter-timeline" href="https://twitter.com/vespaspiets" data-widget-id="466511916265791488">Tweets by @vespaspiets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="news_chuvaak">
    </div>
  </div>
  <div id="flying_vespa">
  </div>
  <div id="news_modal" class="modal" style="display:none">
    <button class="close">×</button>
    <div class="modal-body">
      Hello
    </div>
  </div>
</div>

<div id="albums" class="page" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="logo logo_white">
      VespaSpiets
    </div>
    <h1>
      Bildes
    </h1>
    <div id="albums_container">
    </div>
    <div id="albums_chuvaak" data-stellar-background-ratio="0.35">
    </div>
  </div>
  <div id="vespa_lxv" data-stellar-background-ratio="1.5">
  </div>
</div>

<div id="video" class="page" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="logo logo_white">
      VespaSpiets
    </div>
    <h1>Video</h1>
    <div id="video_container">
      <div id="video_playing">
      </div>
    </div>
    <div id="video_chuvaak" data-stellar-background-ratio="1.5">
    </div>
  </div>
  <div id="flying_vespa_reverse">
  </div>
</div>

<div id="about" class="page" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="logo logo_black">
      VespaSpiets
    </div>
    <h1>
      VespaSpiets
    </h1>
    <div class="article">
      <p>
        Paldies, ka iegriezies Vespaspiets lapā!
      </p>
      <p>
        Viens no iemesliem varētu būt vēlme uzzināt par Vespaspietu – kas tas tāds?!
        <br/>
        Šī nelielā sadaļa tieši tam arī paredzēta.
        <br/>
        Vespaspiets, kā jau kādā mirklī esi dzirdējis, citādi jau tu nezinātu, kā nokļūt šeit ☺,
        ir Vespa rolleru īpašnieku klubiņš Latvijā, kurš savu kustību aizsāka nu jau tālā 2010. gada augustā.
        Tātad šogad varam lepoties ar kopīgi uzsāktu trešo sezonu!
        Darbojamies ar vienu mērķi -  apjūsmot stila ikonu un labi pavadīt laiku lieliskā kompānījā. 
        Protams, Latvijas mērogā varētu sapņot par varenu Vespu festivālu, taču mūsu ir pietiekoši, lai uz kopējā rolleru fona būtu pamanāmi! 
        Vespaspiets faktiski ir off_line socializācija ar vairākiem pasākumiem vasaras sezonas garumā, kura vienkopus pulcē pozitīvus cilvēkus ar labu gaumi ☺
      </p>
      <p>
        Ja ir kādi jautājumi vai priekšlikumi, jebkurā diennakts stundā mums var uzrakstīt e-pastu:
        <a href="mailto:vespaspiets@gmail.com">vespaspiets@gmail.com</a>
        <br/>
        Mums patīk foršas lietas, mēs esam atvērti jebkurām interesantām idejām!
      <p>
        Lai jauka diena,
        Jūsu vespaspiets.lv
      </p>
      <p>
        Sezonu pa sezonai piestrādājam pie atsaucīgiem Krustēviem un Krustmātēm, iepazīstieties tie ir viņi: 
      </p>
      <p>
        <img src="images/sponsors.png" alt="Motofavorīts, Mols, Čili Pica, Street Burgers, Mobilly, EuroPark, Zelta GD, Ideju nams" />
      </p>
    </div>
    <div id="about_chuvaak">
    </div>
  </div>
</div>
